.dropzone-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.dropzone {
    border: 2px dashed #aaa;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    max-width: 500px;
    background-color: #f9f9f9;
    position: relative;
    transition: background-color 0.3s ease;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.dropzone:hover {
    background-color: #e6f7ff;
}

.dropzone-text {
    font-size: 16px;
    color: #333;
    font-weight: 500;
    margin-bottom: 10px;
}

.file-icons-preview {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    width: 100%;
}

.file-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    color: #333;
    text-align: center;
    width: 60px;
}

.file-icon .file-icon-image {
    font-size: 24px;
    color: #007bff;
}

.file-icon .file-icon-image {
    margin-top: 5px;
    word-wrap: break-word;
    text-align: center;
    font-size: 12px;
    color: #555;
}

.file-list {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
    text-align: left;
}

.file-list li {
    margin: 5px 0;
    font-size: 14px;
    color: #333;
}

.process-button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.file-icon-text {
    color: white;
}

.process-button:hover {
    background-color: #0056b3;
}

/* Estilo para el input tipo file (oculto)*/
.file-input {
    display: none;
}

.dropzone {
    cursor: pointer;
}